#background{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    top: -1vh;
    bottom: -1vh;
    left: -1vw;
    right: -1vw;
    background-image: url(./img/fundo.jpg);
    background-size: cover;
    background-position: center;
}

.titulo{
    position: relative;
    display: flex;
    color:white;
    font-size: 30pt;
    justify-content: center;
    font-family: 'Mochiy Pop One', sans-serif;
    text-shadow: 5px 1px 7px #000000;
    top: 1vh;
}

.barra {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 50px;
    width: 600px;
    box-sizing: border-box;
    padding: 0.1875rem;
    border-radius: 7rem;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    top: 3vh;
}

#caixa_de_pesquisa {
    width: 100%;
    border: 0 none;
    background-color: transparent;
    outline: 0;
    font-size: 14pt;
    padding-left: 15px;
    font-family: 'Sofia Sans Condensed', sans-serif;;
}

.fundo_barra {
    display: flex;
    box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.41);
    padding-bottom: 80px;
}

.botao {
    background-color:transparent;
    border: 0ch;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
}

.botao-check {
    position: absolute;
    right: 0;
    background-color: transparent;
    border: 0ch;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 2;
}

.botao-check:hover {
    background-color: rgb(57, 211, 57);
    transition: 0.5s;
    border-radius: 0px 7px 7px 0px;

}

.botao-remove {
    position: absolute;
    right: 60px;
    background-color: transparent;
    border: 0ch;
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 2;
}

.botao-remove:hover {
    background-color: red;
    transition: 0.5s;
}

i.fas.fa-plus{
    font-size: 20pt;
}

.tarefa {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 50px;
    width: 600px;
    box-sizing: border-box;
    border-radius: 7px;
    background:#fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.txt{
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 10px;
    height: 100%;
    width: 100%;
    background-color: transparent;
    font-family: 'Sofia Sans Condensed', sans-serif;
    z-index: 1;
}

.txt-toggle{
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 10px;
    height: 100%;
    width: 100%;
    border-radius: 7px;
    background-color: transparent;
    font-family: 'Sofia Sans Condensed', sans-serif;
    z-index: 1;
    
    animation-name: myKeyframe;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@keyframes myKeyframe{
    from{
    }
    to{
        background: rgb(57, 211, 57);
        background-size: 200% 100%;
        background-position: left bottom;
    }
}

.status{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    height: 20px;
    width: 20%;
    background-color: rgb(95, 79, 8);
    color:rgb(255, 255, 255);
    font-size: 10pt;
    font-family: 'Sofia Sans Condensed', sans-serif;
    filter:opacity(80%);
    border-radius: 0px 0px 5px 5px;
}

